body{
    // background-color: #e6e6df;
    background-color: #e6e6df;
}
.no-padding{
    padding: 0 !important;
}
.pl{
    padding: 0 5px 0 0 ;
}
.pr{
    padding: 0 0 0 5px ;
}

.white{
    
    background-color: white;
}



    .bord--top{
        border-top-left-radius: 15px;
    }
    .bord--bot{
        border-bottom-right-radius: 15px;
    }
    .bord--both{
            border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
