.footer{
	background-color: #1e1e1e;
	height: 319px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100%;
	color: #fff;
	.mb10();
	&__head{
		margin-bottom: 80px;
		&-right{
			float: right;
		}
	}
	&__menus{
		width: 100%;
	}
	&__cells{
		float: left;
		width: 20%;
	}
	&__wrapper{
		padding: 20px;
	}
	&__text{
		display: block;
		&-head{
				font-family: SourceSansPro;
				font-size: 22px;
	font-weight: bold;
	line-height: 1.32;
	color: #ffffff;
	  		margin-bottom: 63px;
		}
	  
	font-family: SourceSansPro;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.81;
	text-align: left;
	color: #e3e3dc;
	  text-decoration: none;
	  cursor: pointer;
	}
}